/* Global */

*{
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
}

a{
    
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:16px;
    font-weight: bolder;
}

/*Forum */
.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#0050c8;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#bce7fd;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}

/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color: #d4f1ff;
}

.chart{
    font-size:20px;
    font-weight:bold;
}

/* Footer Styling */

footer{
    margin-top: 20px;
    padding: 20px;
    background-color:  #2d21db;
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    
}

/* Search Box styles */
.search-box{
    border: solid 2px #00ff6a;
    margin-top: 20px;
    padding: 40px;
    display:flex;
    justify-content: center;
    box-shadow:1px 2px 3px #00ff6a;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 8px;
}

.search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #1100fb;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}

/* Table */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #0050c8;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* Details */

.head{
    display: flex;
    background-color: #0050c8;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #c9f7ff;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button,.delete button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}
.delete button{
    margin-left: 15px;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #c9f7ff;
}

/* Create New Post */
.create-area{
    margin-bottom:50px;
}

.create-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.create-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.create-area input:hover{
    border: solid 1px #c9f7ff;
}

#title_text {
   
    
}