<style>

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    
  }

p {font-size: 16px;}

.margin {margin-bottom: 45px;}

.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

form {
   font: 10pt Arial;
   background-color: #eee;
   padding: 10px;   
}

label {
   width: 70px;
   display: inline-block;
   text-align: left;
   margin-right: 8px;
    display: inline-block;
    font-weight: bolder;
}

input[type=text], select {
   width: 350px;
   padding: 10px;
   margin: 6px 0;
   border: 1px solid #aaa;
   border-radius: 4px;
   display: inline-block;
      
}

button[type=button] {
   width: 200px;
   background-color: #09f;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button[type=button]:hover {
   background-color: #07d;
}

</style>